<!DOCTYPE html>
<html lang="en">
<head>
  <title>Jaewa - Attivazione Account</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="${'Ciao ' + user}"></p>
<p>è stato creato per te un account su Timesheet</p>
<p th:text="${'La tua password temporanea è ' + randomPassword}"></p>
<p>Una volta effettuato il login, ti prego, ti scongiuro, cambiala! (E non dargli il nome del tuo cane <u><em>per
  favore</em></u>!)</p>
<p>
  <span>Saluti,</span>
  <br/>
  <em>Il tuo simpatico Jaewa-bot!</em>
</p>
<p>p.s. e non barare, <u>vale anche se non hai un cane.</u></p>
</body>
</html>

