<!DOCTYPE html>
<html lang="en">
<head>
  <title>Jaewa - Password Reset</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p th:text="${'Ciao ' + user}"></p>
<p>questa email ti è stata inviata perché è stato richiesto il reset della tua password</p>
<p th:text="${'Il token di conferma per il reset è il seguente: ' + confirmationToken}"></p>
<p>inseriscilo nella schermata di reset per ultimare la procedura di reset</p>
<p>
  <span>Saluti,</span>
  <br/>
  <em>Il tuo simpatico Jaewa-bot!</em>
</p>
<p>p.s. se non hai richiesto il reset della password, ti prego di notificare questa anomalia a <a
        href="mailto:enrico.freni@jaewa.com?subject=Timesheet - Anomalia export">enrico.freni@jaewa.com</a></p>
</body>
</html>

